:root {
    --jp-code-font-size: 18px !important; 
    --jp-content-font-size1: 20px !important;
    --jp-ui-font-size1: 16px !important; 
}

/* Block Quotes */
.jp-RenderedHTMLCommon blockquote {
    box-shadow: 8px 8px 10px #747272;
    border-left: 5px solid #d63d3d !important;
}

.jp-RenderedHTMLCommon h1, 
.jp-RenderedHTMLCommon h2 {
    font-weight: 600 !important;
}
